<!DOCTYPE html>
<html>
  <head>
    <title>GIZMODO</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <header class="main_headder">
        <h1 class="title"><%= link_to "GIZMODO", root_path %></h1>
      </header>
      <%= yield %>
      <footer class="main_footer">© 2017 Gizmodo Media Group</footer>
    </div>
  </body>
</html>
